    
/* Tell the browser to render HTML 5 elements as block */  
header, footer, aside, nav, article{  
    display: block;
	margin-left: 44px;
}

input[type=text]{
	border-radius: 15px;
	border: #ccc solid 1px;
	padding: 3px;
}

input[type=password]{
	border-radius: 15px;
	border: #ccc solid 1px;
	padding: 3px;
}

th{
	text-decoration: bold;
	color: #1c94c4;
}
   
body {  
    margin: 0 auto;  
    width: 100%;  
    font: 13px/22px Helvetica, Arial, sans-serif;  
    background: #f0f0f0;  
}  
     
h2 {  
    font-size: 20px;  
	color: #4169E1;
}  
      
h3 {  
    font-size: 18px;  
	color: #1c94c4;
}  
	
/* Navigation */	
nav {  
    position: absolute;  
    left: 0;  
    width: 100%;  
    background: #222;
	box-shadow: 3px 3px 7px #777;  
	margin-left: 0px;
}  
	 
nav ul {  
    margin: 0 auto;  
    width: 940px;  
    list-style: none;  
}  

nav ul li {  
    float: left;
    font-weight: bold;	
}  
      
nav ul li a {  
    display: block;  
    margin-right: 20px;  
    width: 140px;  
    font-size: 14px;  
    line-height: 44px;  
    text-align: center;  
    text-decoration: none;  
    color: #777;  
}  
      
nav ul li a:hover {  
    color: #fff;  
}  
      
nav ul li.selected a {  
    color: #fff;  
 }  
      
nav ul li.subscribe a {  
    margin-left: 22px;  
    padding-left: 33px;  
    text-align: left;  
    background: url("rss.png") left center no-repeat;  
}


/* HINT TEXT */

#hint{
    margin-top: 75px;  
	padding: 15px;  
	/*background: #ddd;  */
    border-radius: 22px;
	box-shadow: 3px 3px 7px #777;
	margin-left: 20px;
	margin-right: 20px;
	visibility: hidden;
}

/* CONTENT AREA */
#contentBox {
   display: table;
   margin-top: 60px;
   width: 98%;
   margin-left: 1%;
   margin-right: 1%;
   padding: 4px;
}

#content {
   display: table-row;
}

/* FOOTER */
footer {
	position: absolute;
	margin-top: 15px;
	left: 0;
	width: 100%;
	background: #222;
	margin-left: 0px;
}

footer p{
   color: #777;
   margin-left: 20px;
}

/*****************************************************
     REPOSITORY VIEW
******************************************************/
#document {
    display: table-cell;
    width: 80%;
    padding: 10px;
	background: #fff;
	box-shadow: 3px 3px 7px #777; 
}

#document_spacer{
	display: table-cell;
	/*width: 85%;*/
	visibility: hidden;
}

#folderlist{
   display: table-cell;
   width: 20%;
   padding: 5px;
   box-shadow: 3px 3px 7px #777;
}

#folderlist h3{
	text-align: center;
	border-bottom: #000 solid 1px;
	width: 80%;
	margin-left: 10%;
}

.document_link{
	color: #000;
	text-decoration: none;
}

/*****************************************************
     DASHBOARD VIEW
******************************************************/
#dashboard{
  width: 99%;
  height: 99%;
  box-shadow: 3px 3px 7px #777;
  padding: 5px;
  display: table;
}

#dash_welcome{
	display: table-cell;
}

#dash_area{
	display: table-row;
	background: #fff;
	width: 80%;
	padding: 5px;
}

#dash_news{
	display: table-cell;
	background: #fff;
	width: 50%;
	box-shadow: -3px -3px 7px #777;
}

#dash_news h3{
	text-align: center;
	border-bottom: #000 solid 1px;
	width: 80%;
	margin-left: 10%;
}

#dash_news p{
	padding: 5px;
}

#dash_recent{
	display: table-cell;
	background: #fff;
	padding: 5px;
	width: 50%;
	box-shadow: 3px -3px 7px #777;
}

#dash_recent h3{
	text-align: center;
	border-bottom: #000 solid 1px;
	width: 80%;
	margin-left: 10%;
}

#dash_recent p{
	padding: 5px;
}

/*****************************************************
     DASHBOARD VIEW
******************************************************/
#login_panel{
	display: table-cell;
	width: 99%;
	box-shadow: 3px 3px 7px #777;
	padding: 5px;
}

#login_box{
	display: blocked;
	background: #fff;
	margin: 0 auto;
	border-radius: 15px;
	padding: 15px;
	width: 20%;
}

/*****************************************************
     ADMIN VIEW
******************************************************/
#admin_panel{
	display: table-cell;
	width: 99%;
	box-shadow: 3px 3px 7px #777;
	padding: 5px;
}

/*****************************************************
     DASHBOARD VIEW
******************************************************/
#settings_panel{
	display: table-cell;
	width: 99%;
	box-shadow: 3px 3px 7px #777;
	padding: 5px;
}

#settings_name{
	display: blocked;
	width: 20%;
	background: #fff;
	box-shadow: 3px 3px 7px #777;
	padding: 5px;
	text-align: center;
	border-radius: 15px;
	margin: 0 auto;
}

#settings_password{
	display: blocked;
	width: 20%;
	background: #fff;
	box-shadow: 3px 3px 7px #777;
	padding: 5px;
	text-align: center;
	border-radius: 15px;
	margin: 0 auto;
	margin-top: 15px;
}
