<!-- JQuery -->
<script>
	$(function(){
			function areaChanged(){
				var areaName = this.value;
				$.post("actions/folderlist.php", {area: areaName, mode: "normal"},
						function(data){
							$.getScript("js/folderlist_script.js");
							$("#folderlist_folders").html(data);
						}
				);
			}
			
			$("#area_selection").change(areaChanged);
			$("#document").hide();
		}
	);
</script>

<!-- Layout -->
<div id="folderlist">  
	<h3>Documents</h3>
	<p align="center"><?php include("actions/select_area.php"); ?></p>
	<div id="folderlist_folders">
	</div>
</div> 
<div id="document">
	<div id="document_content">asdf</div>
</div>
<div id="document_spacer"></div>
<input type="hidden" id="document_last_id" />
<div id="free-for-stuff">
<div>